body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: wheat;
}
li {
    font-size: 18px;
    font-style: italic;
    color: black;
}
a{
    color: wheat;
    font-size: 22px;
    font-family: Open sans-serif;
    font-weight: bold;
}
p {
    font-size: 22;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.subheader {
    float: right;
}
.homebg {
    background-image: url('../basket.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center left;
    background-size: cover;
}
.container {
    width: 560px;
    height: 315px;
}
/* div part of the assignment */
.jcinfo {
    font-size: 32px;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;
  }
  .aboutjc {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
  }
  .jcteams {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
  }
  .teamsheader {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: wheat;
  }
